<script src="{{site.baseurl}}/node_modules/intersection-observer/intersection-observer.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/node_modules/ityped/dist/index.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/node_modules/nanogallery2/dist/jquery.nanogallery2.min.js"></script>

</body>
<footer class="page-footer">
  <div class="footer-copyright" style="padding-left: 30px;">
    <i class="material-icons" style="padding-right:5px; display:{{site.display_footer}};">copyright</i><p style="display:{{site.display_footer}};">2018 Copyright {{ site.name }} | All rights reserved</p>
  </div>
</footer>
</html>
 