<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/node_modules/ityped/dist/index.min.js">
  var userFeed = new Instafeed({
    get: 'user',
    userId: '1226130250',
    accessToken: 'aa2066f792344b948726aa15f4cc3a5e',
    limit: 4
  });
  userFeed.run();
</script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>

</body>
<footer class="page-footer">
  <div class="footer-copyright" style="padding-left: 30px;">
    <i class="material-icons" style="padding-right:5px; display:{{site.display_footer}};">copyright</i><p style="display:{{site.display_footer}};">2018 Copyright {{ site.name }} | All rights reserved</p>
  </div>
</footer>
</html>
 