<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center middle-indicator flex-container">
      <div class="left">
        <a href="Previous" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="medium material-icons left  middle-indicator-text white-icon">chevron_left</i></a>
      </div>
      <div class="center">
        <a href="Pause" class="pauseCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="medium material-icons center  middle-indicator-text white-icon">pause</i></a>
      </div>
      <div class="right">
        <a href="Next" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i
            class="medium material-icons right middle-indicator-text white-icon">chevron_right</i></a>
      </div>
    </div>
  <div class="carousel-item white-text" style="background-color: #90a4ae;" href="#one!">
    <h2>{{ site.project_one }}</h2>
    <p class="project-img"><img src="{{ site.project_one_image }}" alt="{{ site.project_one_description}}"></p>
    <p class="white-text">{{ site.project_one_description }}</p>
    <br><br>
  </div>
  {% if site.project_two != nil %}
  <div class="carousel-item white-text" style="background-color: #78909c;" href="#two!">
    <h2>{{ site.project_two }}</h2>
    <p class="project-img"><img src="{{ site.project_two_image }}" alt="{{ site.project_two_description}}"></p>
    <p class="white-text">{{ site.project_two_description }}</p>
    <br><br>
  </div>
  {% endif %}
  {% if site.project_three != nil %}
  <div class="carousel-item white-text" style="background-color: #607d8b;" href="{{site.project_three_url}}">
    <h2>{{ site.project_three }}</h2>
    <p class="project-img"><img src="{{ site.project_three_image }}" alt="{{ site.project_three_description}}"></p>
    <p class="white-text">{{ site.project_three_description }}</p>
    <br><br>
  </div>
  {% endif %}
  {% if site.project_four != nil %}
  <div class="carousel-item white-text" style="background-color: #546e7a" href="{{site.project_four_url}}">
    <h2>{{ site.project_four }}</h2>
    <p class="project-img"><img src="{{ site.project_four_image }}" alt="{{ site.project_four_description}}"></p>
    <p class="white-text">{{ site.project_four_description }}</p>
    <br><br>
  </div>
  {% endif %}
</div>
