@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

$font-heading: 'Oswald', sans-serif;
$font-body: 'Open Sans', sans-serif;

html, body {
  font-family: $font-body;
  color: #000;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}

.white-icon {
  color: #ffff;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.menu {

  .item {
    width: 85%;
    margin: auto;
    text-align: left;
    font-size: 16px;

    .price {
      float: right;
    }

    .description {
      display: block;
      font-size: .8em;
      font-weight: bold;
    }
  }
}

#home.section {
  padding-top: 0;
}

.navbar-fixed.dark {
  nav {
    background: #000000;

    a {
      color: #ffff;
      font-family: $font-heading;
    }

    ul a.btn-floating {
      > .mdi {
        line-height: inherit;
        height: inherit;
        text-align: center;
      }
    }
  }
  
  .brand-logo {
    left: 0;
    transform: none;
  }
}

.parallax-container {
  &.auto-height {
    height: auto;
  }

  .site-logo {
    max-height: 333px;
  }

  p.header {
    color: white;
  }

  .parallax {
    background: #000000;

    img {
      opacity: .3;
    }
  }
  
  .section.no-pad-bot {
    margin: auto;
  }

  .menu,
  .menu-disclaimer {
    color: white;
  }
}

.project-img img {
  max-height: 500px; 
}

.card .card-title.activator {
  float: right;
}

.carousel.carousel-slider {
  min-height: 400px
}

.btn-floating span {
  width: inherit;
  display: inline-block;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  i.medium {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 993px) {
  .carousel.carousel-slider {
    min-height: 750px;
  }
}

.ityped-cursor {
  font-size: 2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes 
  blink {  100% {
  opacity: 0;
  }
}
 @-webkit-keyframes 
  blink {  100% {
  opacity: 0;
  }
}
 @-moz-keyframes 
  blink {  100% {
  opacity: 0;
  }
}