{% include head.html %}

{% include nav-bar.html %}
{% include nav-burger.html %}

  <div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container auto-height">
    <div class="section no-pad-bot">
      <div class="container center testing">
        {% if site.logo %}
          <img src="{{ site.logo }}" class='center site-logo' alt='{{ site.logo_description }}'/>
        {% else %}
          <h1 class="header center teal-text text-lighten-2">{{ site.title }}</h1>
        {% endif %}
        <div class="row center">
          {{ site.homepage_text }}
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Exterior picture of Temple News Agency and Coffee Studio"></div>
  </div>
</div>


{% include footer.html %}
